.hotAccessories {
    display: flex;
    width: 90vw;
    margin: auto;
}

.hotAccessories > div:first-child > img{
    cursor: pointer;
    transition: all .2s;
    size: 22vw;
}

.hotAccessories > div:first-child > img:hover{
    box-shadow: 5px 5px 15px rgba(35, 35, 35, .363);
}
.hotAccessories div:first-child {
    margin: 1vmax;
}
.hotAccessories > div:last-child {
    display: flex;
    flex-wrap: wrap;
}
.hotAccessories > div:last-child > img{
    /* size: ; */
}