.hotAccessoriesMenu {
    display: flex;
    justify-content: center;
}

.hotAccessoriesMenu .hotAccessoriesMenuLink {
    padding: .4vmax 0;
    margin: 1vmax;
    text-decoration: none;
    color: rgb(74, 74, 74);
}

.hotAccessoriesMenu .hotAccessoriesMenuLink:hover {
    text-decoration: none;
    border-bottom: 1px solid orangered;
    color: orange;
}