.hotItemCard {
    /* border : 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 23%;
    margin: 1vmax;
    transition: box-shadow .2s;
}

.hotItemCard:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(35, 35, 35, .363);
}

.hotItemCard img {
    width: 70%;
}

.hotItemCard > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(53, 52, 52);
    font-size: 1.1vmax;
    font-weight: bold;
    padding: 1vmax;
}

.hotItemCard > span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    font-size: 1.1vmax;
    font-weight: bold;
    margin: -1vmax 0 1vmax 0;
}