.preNavbar {
    background-color: rgb(29, 28, 28);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}

.preNavbar > div {
    padding: 0vmax 4vmax;
    display: flex;
    align-items: center;
}

.preNavbar > div > a {
    color: rgb(165 164 164);
    font-size: 0.8vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1vmax;
    font-weight: 300;
    text-decoration: none;
}

.preNavbar > div > span {
    opacity: 0.5;
    font-size: 0.8vmax;
}

.preNavbar > div > a:hover {
    color: white;
}

.preNavbar > div svg {
    fill: rgb(165 164 164);
    /* display: flex;
    justify-content: center; */
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vmax;
}